
h1 {
    color: white;
    background-color: #1724A6;
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

aside {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.current-weather {
    border: 3px solid black;
    margin: 10px;
}

#submit-button {
    margin: 10px 0;
    border:none;
    background-color: #9FD5FF;
}